*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Messapia';
  src: url('../fonts/Messapia-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Messapia';
  src: url('../fonts/Messapia-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Monument';
  src: url('../fonts/MonumentExtended-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Monument';
  src: url('../fonts/MonumentExtended-Ultrabold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America-Regular.otf');
  font-weight: normal;
}


body {
  background: #1f1f1f;
}

#chiudi
       {
           position: absolute;
           top: 4vh;
           left: 97vw;
           z-index: 2;
       }

.iframe{
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color:  rgba(31, 31, 31, 1);
  z-index:5;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 8.33% 8.33% 8.33% 8.33% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 4.85% 8.33%;
  grid-template-rows: 10% 3% 2% 11.66% 11.66% 11.66% 11.66% 11.66% 11.66% 2% 3% 10%;
}

.menu {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 18;
  grid-row-start: 1;
  grid-row-end: 4;
  place-self: center;
}


#chiudi{
  display: flex;
  position: absolute;
  transition: 0.3s;
}

#chiudi:hover{
  transform: scale(1.4);
  cursor: pointer;

}

.cover1:hover{
  transform: scale(1.05);
cursor: pointer;
}

.cover2:hover{
  transform: scale(1.05);
  cursor: not-allowed;
}



.cover1 {
  grid-area: video;
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 3;
  grid-row-end: 11;
  background-image: url("../images/REMEMBER/Cover Remember.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  z-index:1;
}

.cover2 {
  grid-area: video;
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 3;
  grid-row-end: 11;
  background-image: url("../images/Cover Speak.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  z-index:1;
}


.disponibile{
  grid-area: video;
  grid-column-start: 8;
  grid-column-end: 14;
  grid-row-start: 3;
  grid-row-end: 11;
  font-family: 'Monument';
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 1vw;
  display: none;
  justify-content: center;
  align-self: center;
  color: #FAFAFA;
  z-index: 2;
  line-height: 150%;
}



.immagine2 {
  grid-area: video;
  grid-column-start: 5;
  grid-column-end: 17;
  grid-row-start: 4;
  grid-row-end: 10;
  background-image: url("../images/chapter2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.immagine1 {
  grid-area: video;
  grid-column-start: 5;
  grid-column-end: 17;
  grid-row-start: 4;
  grid-row-end: 10;
  background-image: url("../images/chapter1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



.intro {
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  /*background-color:pink;*/
  text-align: left;
  color: white;
  font-size: 2vw;
}



.descrizione{
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 9;
  text-align: left;
  color: white;
  font-style: normal;
  font-family: 'GT America';
  line-height: 150%;
  /*background-color:red;*/
  font-size: 1.1vw;
}

.frecce a{
  display: flex;
  align-items: center;
  color: #00CC9F;
  text-decoration:none;
  transition: 0.3s;
}

.frecce{
  display: flex;
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;
  /*text-align: center;*/
  justify-content: space-between;
  align-items: flex-start;
  /*background-color:red;*/
  color: #00CC9F;

}



.frecce a:hover{
  transform: scale(1.1);
}

/*.indietro{
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;
  text-align: center;

}

.frecciaindietro{
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;


}

.frecciaindietro a{
  display: flex;
  align-items: center;
}

.frecciaavanti{
  grid-area: text;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;
  justify-self: right;
  opacity: 0.3;
}




.avanti{
  grid-area: text;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  text-align: left;
  align-self: top;
  color: #00CC9F;
  opacity: 0.3;
} */

.titolo1
{
  font-family: 'Monument';
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  left:50%;
  top:0.3vw;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}

.titolo2
{
  font-family: 'Monument';
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  left:50%;
  bottom:-5.7vw;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}


#menuhover
{
  font-family: 'Messapia';
  font-weight: normal;
  color: #F5222D;
  text-decoration: none;
  padding:3vw;
}

#menuhover:hover {

    color: #F5222D;
    font-weight: bold;
    cursor: pointer;
}

#story{
  font-weight: bold;
  font-family: 'Messapia';
    color: #F5222D;
    padding: 3vw;
    text-decoration: none;
}

#sottotitolo{
  font-family: 'Messapia';
  font-weight: normal;
  font-size: 1vw;
}

#direzioni{
  font-family: 'Messapia';
  font-weight: normal;
  font-size: 1vw;
  padding: 0.5vw;
}



/*#sottotitolohover{
  font-family: 'Messapia';
  font-weight: normal;
  font-size: 1vw;
  text-decoration: none;
  color: #00CC9F;
}

#sottotitolohover:hover{
  font-weight: bold;
}*/

#titolo{
  font-family: 'Monument';
  font-weight: normal;
  letter-spacing: 0.1em;
  padding-top:0.6vw;
}


#social{
  display: flex;
  align-self: top;
  /*text-align: center;*/
  justify-content: flex-start;
  align-items: center;
  /*background-color:red;*/
  color: white;
  font-style: normal;
  font-family: 'GT America';
  /*background-color:red;*/
  font-size: 1vw;
  padding:0;
  text-decoration: none;
}

.instagram {
  grid-area: text;
  grid-column-start: 1;
  grid-column-end: 18;
  grid-row-start: 10;
  grid-row-end: 13;
  /*background-color:pink;*/
  display: flex;
  justify-content:center;
  align-items: flex-start;
  color: white;
  padding-top: 2.5vw;
}
