*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Messapia';
  src: url('../fonts/Messapia-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Messapia';
  src: url('../fonts/Messapia-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Monument';
  src: url('../fonts/MonumentExtended-Regular.otf');
}

@font-face {
  font-family: 'Monument';
  src: url('../fonts/MonumentExtended-Ultrabold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America-Bold.otf');
  font-weight: bold;
}

body {
  background: #1f1f1f;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(12, 8.33% [col-start]);
  grid-template-rows: 10% 3% 2% 11.66% 11.66% 11.66% 11.66% 11.66% 11.66% 2% 3% 10%;
}

.menu {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
  place-self: center;
}

.start {
  grid-area: video;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 4;
  grid-row-end: 10;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.immagine {
  grid-area: video;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: -1;

  background-image: url("../images/Aether.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.immagine2 {
  grid-area: video;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: -1;
  background-image: url("../images/INDEX/index_2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}




.immagine3{
  grid-area: video;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: -1;
  background-image: url("../images/INDEX/index_3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

.immagine4{
  grid-area: video;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: -1;
  background-image: url("../images/INDEX/index_4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

.immagine5{
  grid-area: video;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: -1;
  background-image: url("../images/INDEX/index_5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}


.titolo1
{
  font-family: 'Monument';
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}

.animazione1
{
  animation-duration: 2s;
  animation-name: titolo1;
  font-family: 'Monument';
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  left:50%;
  top:0%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}

.animazione2
{
  animation-duration: 2s;
  animation-name: titolo2;
  top:100%;
  font-family: 'Monument';
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}

@keyframes titolo1{
  from {top: 50%;}
  to {top:0%;}
}

@keyframes titolo2{
  from {top:50%;}
  to {top:100%;}
}

.titolo2
{
  font-family: 'Monument';
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  cursor: pointer;
}

/*.testo0
{
  font-family: 'GT America';
  font-weight: bold;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
  background-color: yellow;
  opacity: 0;
}*/

.testo1
{
  font-family: 'GT America';
  grid-area: text;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 8;
  justify-content: center;
  /*animation-duration: 4s;
  animation-name: testo;*/
  display: none;
  flex-direction: column;
  padding-left: 4.5vw;
    padding-right: 4.5vw;
}

.testo2
{
  font-family: 'GT America';
  grid-area: text;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 8;
  justify-content: center;
  /*animation-duration: 4s;
  animation-name: testo;*/
  display: none;
  flex-direction: column;
  padding-left: 4.5vw;
    padding-right: 4.5vw;
}

.testo3
{
  font-family: 'GT America';
  grid-area: text;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 8;
  justify-content: center;
  /*animation-duration: 4s;
  animation-name: testo;*/
  display: none;
  flex-direction: column;
  padding-left: 4.5vw;
    padding-right: 4.5vw;
}

.testo4
{
  font-family: 'GT America';
  grid-area: text;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 8;
  justify-content: center;
  /*animation-duration: 4s;
  animation-name: testo;*/
  display: none;
  flex-direction: column;
  padding-left: 4.5vw;
    padding-right: 4.5vw;
}

.testo5
{
  font-family: 'GT America';
  grid-area: text;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 8;
  justify-content: center;
  /*animation-duration: 4s;
  animation-name: testo;*/
  display: none;
  flex-direction: column;
  padding-left: 4.5vw;
    padding-right: 4.5vw;
}

.testo6
{
  font-family: 'GT America';
  grid-area: text;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 8;
  justify-content: center;
  /*animation-duration: 4s;
  animation-name: testo;*/
  display: none;
  flex-direction: column;
  padding-left: 4.5vw;
    padding-right: 4.5vw;
}

@keyframes testo{
  from {opacity: 0;}
  to {opacity:1;}
}

#direzioni{
  font-family: 'Messapia';
  font-weight: normal;
  font-size: 1vw;
  padding: 1vw;
}


#a{
  display: flex;
  align-items: center;
  color: #00CC9F;
  text-decoration:none;
  transition: 0.3s;
  cursor: pointer;
}

#a:hover{
  transform: scale(1.1);
}

.frecce1{
  display: none;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /*text-align: center;*/
  justify-content: center;
  align-items: center;
  /*background-color:red;*/
  color: #00CC9F;

}

.frecce2{
  display: none;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /*text-align: center;*/
  justify-content: space-around;
  align-items: center;
  /*background-color:red;*/
  color: #00CC9F;

}

.frecce3{
  display: none;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /*text-align: center;*/
  justify-content: space-around;
  align-items: center;
  /*background-color:red;*/
  color: #00CC9F;

}

.frecce4{
  display: none;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /*text-align: center;*/
  justify-content: space-around;
  align-items: center;
  /*background-color:red;*/
  color: #00CC9F;

}

.frecce5{
  display: none;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /*text-align: center;*/
  justify-content: space-around;
  align-items: center;
  /*background-color:red;*/
  color: #00CC9F;

}

.frecce6{
  display: none;
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /*text-align: center;*/
  justify-content: space-around;
  align-items: center;
  /*background-color:red;*/
  color: #00CC9F;

}





#menuhover
{
  font-family: 'Messapia';
  font-weight: normal;
  color: #F5222D;
  text-decoration: none;
  padding: 2vw;
}

#menuhover:hover {

    color: #F5222D;
    font-weight: bold;
    cursor: pointer;
}

#home{
  font-weight: bold;
  font-family: 'Messapia';
    color: #F5222D;
    padding: 2vw;
}

#sottotitolo{
  font-family: 'Messapia';
  font-weight: normal;
  font-size: 1vw;
  text-align: center;
  color: white;
}

#descrizione{
  text-align: left;
  color: white;
  font-style: normal;
  font-family: 'GT America';
  line-height: 150%;
  /*background-color:red;*/
  font-size: 1.1vw;
  text-align: center;

}

/*#sottotitolohover{
  font-family: 'Messapia';
  font-weight: normal;
  font-size: 1vw;
  text-decoration: none;
  color: #00CC9F;
}

#sottotitolohover:hover{
  font-weight: bold;
}*/

#titolo{
  font-family: 'Monument';
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 1.6vw;
}




.intro {
  grid-area: text;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 8;
  display: none;
  justify-content: center;
  align-self: center;
  color: white;
  z-index: 1;
}

/*

.descrizione{
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 9;
  text-align: left;
  color: white;
  font-style: normal;
  font-family: 'Messapia';
  font-size: 1vw;
}



.indietro{
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;
  text-align: center;
  color: #00CC9F;
}

.frecciaindietro{
  grid-area: text;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;

}

.frecciaavanti{
  grid-area: text;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: top;
  justify-self: right;
  opacity: 0.3;
}

#freccia{
  transition: 0.3;
}

#freccia:hover{
  transform: scale(1.3);
}


.avanti{
  grid-area: text;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  text-align: left;
  align-self: top;
  color: #00CC9F;
  opacity: 0.3;
}*/
